*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  background-color: rgb(11, 94, 215);
  margin: 2rem;
  padding: 2rem;
  min-width: 99%;
}

.induvial-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: calc(33.333% - 20px);
  text-align: center;
  line-height: 2;
  Button{
    width: 100%;
    border-radius: 2rem;
    padding: .8rem;
  }
}
 
.ul{
  text-align: start;
  margin-bottom: 1rem;
}
  
@media (max-width: 991.98px) {
  .container {
    justify-content: center;
  }
  
  .induvial-box {
    width: calc(50% - 20px);
  }
}

@media (max-width: 575.98px) {
  .induvial-box {
    width: 100%;
  }
}
